<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron" style="height: 400px;">
        <h1 style="padding-bottom: 50px; font-size: xxx-large;">About the project</h1>
        <hr class="my-4">
        <p class="lead">Our project targets and aims to alleviate the short attention spans of humans, creating a minimal and easily accessible method for people to become more aware of the Coronavirus situation.</p>
    </div>    
</div>


<%- include("partials/footer") %>