<%- include("partials/header") %>

<div class="container">
    <h1>Reported Cases Of Coronavirus In The Past 24 Hours:</h1>
    <p> <%= result.user %> </p>
</div>




<%- include("partials/footer") %>